<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PHP: Formulários</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Adicionar utente</h1>
      </div>

      <form class="" action="test.php" method="post">
        <div class="form-group">
          <label for="inputFullName">Nome</label>
          <input type="text" name="fullName" id="inputFullName" class="form-control" value="" placeholder="Nome Completo">
        </div>

        <div class="form-group">
          <label for="inputType">Serviço de Saúde</label>
          <select name="type" id="inputType" class="form-control">
            <option disabled selected> - - escolha um - - </option>
            <option value="sns">SNS</option>
            <option value="sps">SPS</option>
            <option value="adse">ADSE</option>
          </select>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">Sexo</div>
          <div class="panel-body">
            <div class="radio">
              <label>
                <input type="radio" name="gender" id="inputGenderMale" value="m" />
                Feminino
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="gender" id="inputGenderFemale" value="f" />
                Masculino
              </label>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">Histórico</div>
          <div class="panel-body">
            <div class="checkbox">
              <label>
                <input type="checkbox" name="hist[]" id="inputHAS" value="HAS">
                Hipertensão Arterial Sistêmica
              </input>
            </div>

            <div class="checkbox">
              <label>
                <input type="checkbox" name="hist[]" id="inputDM" value="DM">
                Diabetes Melitus
              </input>
            </div>

            <div class="checkbox">
              <label>
                <input type="checkbox" name="hist[]" id="inputTab" value="tab">
                Tabagismo
              </input>
            </div>

            <div class="checkbox">
              <label>
                <input type="checkbox" name="hist[]" id="inputAlc" vale="alc">
                Alcoolismo
              </input>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Adicionar</button>
        <button type="reset" class="btn">Limpar</button>
      </form>
    </div>
  </body>
</html>
